  
  <nav class="col-3 col-s-3 menu nav">
    <ul class="">
      <a href="{{base_url}}/players">Gracze</a>
      <a href="{{base_url}}/clans">Klany</a>
	  <a href="{{base_url}}/ranks">Ranking</a>
	  <a href="{{base_url}}/skins">Skiny</a>
	  <hr>
	  <a href="{{base_url}}/logout">Wyloguj</a>
    </ul>
  </nav>